body{
    font-family: 'Raleway', sans-serif;
    background-color: #A72D35;
}

#logo{
	display: flex;
	width: 40%;
	margin: 0.5rem;
	padding: 20px;
}

@media all and (max-width: 768px){
	.index__mobile{
		width: 100%;
	}
}

.list li{
	display: inline;
	margin: 4rem;
	font-weight: 700;
	height: 300px;
}

.item{
	color: $color-repeat;
	font-weight: 700;
	font-size: medium;
	text-align: center;
	padding: 30px;
    text-decoration: none;
    &:hover{
        color: black;
    }
}

.index{
	font-weight: 500;
	font-size: medium;
	text-align: left;
	color: #BFBDB4;
	margin: 3rem;
	display: inline-block;
}

.index__foto{
	display: inline-block;
	width: 40%;
	margin: 2rem;
    &:hover{
        transform: scale(1.2);
    }
}

.index__titulo{
	font-weight: 900;
	font-size: xx-large;
	text-align: center;
	color: #ECE1D1;
	margin: 2rem;
	display: block;
    &::after{
        content: '!!';
    }
}

.datos{
	height: 110px;
	align-content: stretch;
	flex-direction: column;
}

.estadistica{
	background: #BFBDB4;
    border: 3px solid #461D22;
	color: #461D22;
	padding: 18px;
    margin: 60px;
	display: inline;
}

.footer__titulo{
	font-weight: 500;
	font-size: large;
	background-color: #BA8871;
	color: $color-repeat;
	text-align: center;
	padding: 1rem;
}

.footer__info{
	font-weight: 300;
	font-size: medium;
	text-align: center;
	list-style-type: none;
	padding: 10px;
}

.footer__icon{
	max-width: 20px;
}

.footer__link{
	color: $color-repeat;
	text-decoration: none;
    &:hover{
        color: black;
    }
}


